@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: 203 35% 99%;
    --foreground: 203 63% 5%;
    --muted: 173 30% 93%;
    --muted-foreground: 173 7% 37%;
    --popover: 203 35% 99%;
    --popover-foreground: 203 63% 5%;
    --card: 203 35% 99%;
    --card-foreground: 203 63% 5%;
    --border: 203 8% 92%;
    --input: 203 8% 92%;
    --primary: 203 62% 85%;
    --primary-foreground: 203 62% 25%;
    --secondary: 173 62% 85%;
    --secondary-foreground: 173 62% 5%;
    --accent: 233 62% 85%;
    --accent-foreground: 233 62% 25%;
    --destructive: 17 88% 30%;
    --destructive-foreground: 17 88% 90%;
    --ring: 203 62% 85%;
    --chart-1: 203 62% 85%;
    --chart-2: 173 62% 85%;
    --chart-3: 233 62% 85%;
    --chart-4: 173 62% 88%;
    --chart-5: 203 65% 85%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
